body {
	background-image: url("port-bkg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	margin-top: 7rem;
}

.description {
	margin: 10% 5% 5% 5%;
	width: 40%;
	float: left;
}

p {
	font-family: "philosopher", sans-serif;
	font-weight: 700;
	font-size: 2rem;
}

.links {
	margin: 10% 5% 5% 5%;
	width: 30%;
	float: right;
}

.links h3 {
	font-family: sans-serif;
	text-align: center;
	margin-top: 0;
}

button {
	display: table-cell;
	margin: 1rem; 
	height: 10rem; 
	width: 11rem;
	border-radius: 3px;
	border: 0;
	opacity: 0.8;
	 
}

button:hover {
	opacity: 1.0;
	cursor: pointer;
}

.button-style {
	color: white;
	font-family: "cuprum", "trebuchet ms", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 2rem;
	text-shadow: -1px 0 #707070, 0 1px #707070, 1px 0 #707070, 0 -1px #707070;
}

.aboutme {
	background-image: url("portfolio-aboutme.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.nyt {
	background-image: url("portfolio-times.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.karma {
	background-image: url("portfolio-karma.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.portfolio {
	background-image: url("portfolio-webport.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.contact {
	background-image: url("phone-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

a {
	text-decoration: none;
	color: #fff;
}

footer {
	width: 100%;
	height: 5rem;
	clear: both;
	padding-top: 30rem;
	text-align: center;
}

footer p {
	font-size: 1rem
}