html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-image: url("../port-bkg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-family: "philosopher", "trebuchet ms", sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 4rem;
	text-align: center;
	margin: 10rem 1rem 1rem 1rem;
	color: #000;
}

ul {
	width: 100%;
	list-style: none;
	margin-top: 5rem;
	text-align: center;
}

li {
	width: 30%;
	margin: 1rem;
	float: left;
}

@media screen and (max-width: 1000px) {
	body {
		background-image: url(../port-bkg-mobile.jpg);
		background-size: cover;
	}
	ul {
		width: 94%;
		padding: 0;
		margin: 5rem 23% 0 23%;
		text-align: center;
	}
	li {
		width: 50%;
	}
}